<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>权限管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1 style="font-size: 10px">
                    <a th:text="${name}" style="color: black;font-weight: bolder"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="color: #005cbf">管理员，欢迎访问，权限管理</a>
                </h1>
                <h1>
                    <span>[[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd hh:mm:ss')}]]</span>
                </h1>
                <a class="btn btn-primary" th:href="@{/admin/admin}">管理员首页</a>
                <a class="btn btn-primary" th:href="@{/admin/toAddAuth}">新增</a>
                <a class="btn btn-primary btn-group-sm" th:href="@{/loginOut}">注销</a>
            </div>
        </div>
    </div>

    <!--    <div class="row clearfix">-->
    <!--        <div class="col-md-4 column">-->
    <!--            <a class="btn btn-primary" href="${pageContext.request.contextPath}/book/toAddBook">新增</a>-->
    <!--            <a class="btn btn-primary" href="${pageContext.request.contextPath}/book/allBook">显示全部书籍</a>-->
    <!--        </div>-->
    <!--        <div class="col-md-4 column">-->
    <!--            <form class="form-inline" action="${pageContext.request.contextPath}/book/queryBook" method="post" style="float: right">-->
    <!--                <span style="color: red">${error}</span>-->
    <!--                <input type="text" name="queryBookName" class="form-control" placeholder="请输入要查询的书籍名称">-->
    <!--                <input type="submit" value="查询" class="bth bth-primary">-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </div>-->

    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>密码</th>
                    <th>权限</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p: ${list}">
                    <td th:text="${p.getId()}"/>
                    <td th:text="${p.getName()}"/>
                    <td th:text="${p.getNumber()}"/>
                    <td th:text="${p.getPassword()}"/>
                    <td th:text="${p.getAccess()}"/>
                    <td>
                        <a th:href="@{/admin/toUpdateAuth(number=${p.getNumber()})}">修改</a> |
                        <a th:href="@{/admin/delAuth(number=${p.getNumber()})}">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>