<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改课程信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>修改课程信息</small>
                </h1>
            </div>
        </div>
    </div>
    <form th:action="@{/admin/updateCourse}" method="post">
        <div class="form-group">
            <label>课程id：</label>
            <input type="text" name="cid" class="form-control" th:value="${course.getCid()}" required>
        </div>
        <div class="form-group">
            <label>课程名称：</label>
            <input type="text" name="cname" class="form-control" th:value="${course.getCname()}" required>
        </div>
        <div class="form-group">
            <label>任课老师：</label>
            <input type="text" name="tname" class="form-control" th:value="${course.getTname()}" required>
        </div>
        <div class="form-group">
            <label>上课时间：</label>
            <input type="text" name="time" class="form-control" th:value="${course.getTime()}" required>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" th:value="修改">
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" th:href="@{/admin/coursePage}" th:value="返回">
        </div>
    </form>
</div>