# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\项目\springcloud\xscjcx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
